@charset "UTF-8";

*{
	font-family: Lustria;
	margin-left: 10px;
}
#titleHome
{
	border: none;
	font-family: 'Lustria';
	position: relative;
	font-size: 5vh;
	background-color: #FC9D90 ! important;
}
#ingredients{
	margin-top: 10vh;
	margin-left: 10vh;
}
#moredetails{
	margin-top: 13vh;
	margin-left: 10vh;
}
#details{
	margin-top: 15vh;
}
#picture{
	margin-top: 12vh;
}
.header
{
	position: relative;
	height: 15vh;
	background-color: #FC9D90;
	padding: 0 ! important;
	margin: 0 ! important;
}
.loginbutton
{
	font-family: 'Lustria';
	position: relative;
	font-size: 6vh;
	top: 2vh;
	background-color: #FC9D90 ! important;
	border-color: black !important;
	width: 15vh;
}
.signupbutton
{
	font-family: 'Lustria';
	position: relative;
	font-size: 6vh;
	top: 2vh;
	background-color: #FC9D90 ! important;
	border-color: black !important;
	width: 15vh;
}

.mainBox
{
	height: 100vh;
	border: none;
	border-radius: 0 !important;
	padding: 0 ! important;
	margin-bottom: 0 ! important;
	margin-right: 0 ! important;
	margin-left: 0 ! important; 
  	background-size:cover;
  	background-color: white ! important;

}
.searchSection
{
	text-align: center;
	position: relative;
	top: 2vh;
}
.searchButton
{
	font-family: 'Lustria';
	background-color: #9AADF2 ! important;
	border-color: black ! important;
	color: white ! important;
}
.filterBar
{
	position: relative;
	height: 65vh;
	font-family: 'Lustria';
	margin-top: 0vh ! important; 
	padding: 0vh ! important;
}


.row:after {
  content: "";
  display: table;
  clear: both;
  
}
.parentCenter
{
	margin: auto;
	display: block;
}
#tabs
{
	font-family: 'Lustria';
}
#mainBlock
{
	font-family: 'Lustria';
	margin-left: 13vh;
}
#recipeDiv
{
	font-family: 'Lustria';
	color: black;
}
.row
{
	font-family: 'Lustria' ! important;
	color: black;
	margin-bottom:35px; 
	margin-top:10px;
}
.grid{
	padding-left: 50px;
}
h4, h5
{
	font-family: 'Lustria' ! important;
	color: black;
}
#res{
	margin-top:10vh;
}
#resdetails{
	margin-top:10vh;
}
#det{
	margin-top:12vh;
	margin-left:10vh;
}
#det1{
	margin-top:20vh;
}
#favButton{
	background-color: #FC9D90;
	border-radius:8px;
}
.star
{
	height: 2vh;
	width: 2vh;
}