@charset "UTF-8";
*{
	font-family: 'Lustria';
}
#titleHome
{
	border: none;
	text-decoration: none;
	font-size: 7vh;
}
.header
{
	margin-top:10px;
	margin-bottom: 10px;
}


.mybtn{
	margin-left: 2px;
	margin-right: 2px;
}

.myrow{
	text-align: center;
}

.full{
	height: 12vh;
	display: flex;
  	align-items: center;
  	justify-content: center;
}

.mainBox
{
	height: calc(100vh - 20px - 12vh);
	background-image: url(homepagefood.png);
	background-repeat: no-repeat;
  	background-size:cover;
  	background-color: white ! important;

}
.searchSection
{
	padding-left: 7% !important;
	padding-right: 10% !important;
	text-align: center;
	position: relative;
	top: 40vh;
}
.homeButton{
	border: none;
}
.searchButton
{
	background-color: #9AADF2 ! important;
	color: white !important;
	border-color: Black !important;
}
#error_msg
{
	font-weight: bold;
	color: white;
	font-size: 5vh;
	position: relative;
	top: 40vh;
	font-size: 3vh;
	padding-left: 7% !important;
	padding-right: 10% !important;
}



.mytextinput{
	font-size: 16px!important;
	height: 42px!important;
}

.myinput{
	font-size: 20px!important;
	outline: none!important;
}

.fullwidth{
	width: 100%!important;
}

@media(max-width: 767px){
	#buttonLog{
	position: relative;
	top: 0px;
	}
	.full{
		height: auto;
	}
}




