@charset "UTF-8";

*{
	font-family: Lustria;
}
#titleHome
{
	border: none;
	font-family: 'Lustria';
	position: relative;
	font-size: 5vh;
	background-color: #FC9D90 ! important;
}
.header
{
	position: relative;
	height: 15vh;
	background-color: #FC9D90;
	padding: 0 ! important;
	margin: 0 ! important;
}
.loginbutton
{
	font-family: 'Lustria';
	position: relative;
	font-size: 6vh;
	top: 2vh;
	background-color: #FC9D90 ! important;
	border-color: black !important;
	width: 15vh;
}
.signupbutton
{
	font-family: 'Lustria';
	position: relative;
	font-size: 6vh;
	top: 2vh;
	background-color: #FC9D90 ! important;
	border-color: black !important;
	width: 15vh;
}

.main
{
	margin-top:5vh;
}
.searchSection
{
	text-align: center;
	position: relative;
	top: 2vh;
}
.searchButton
{
	font-family: 'Lustria';
	background-color: #9AADF2 ! important;
	border-color: black ! important;
	color: white ! important;
}
.filterBar
{
	position: relative;
	height: 65vh;
	font-family: 'Lustria';
	margin-top: 0vh ! important; 
	padding: 0vh ! important;
}

.row:after {
  content: "";
  display: table;
  clear: both;
  
}
.parentCenter
{
	margin: auto;
	display: block;
}
#tabs
{
	font-family: 'Lustria';
}
#restaurantDiv
{
	font-family: 'Lustria';
	color: black;
}
#recipeDiv
{
	font-family: 'Lustria';
	color: black;
}
.row
{
	font-family: 'Lustria' ! important;
	color: black;
	margin-bottom:35px;
	margin-top:10px;
}
.grid{
	padding-left: 50px;
}
.image
{
	position: relative;
	width: 20vh;
	height:20vh ! important;
	font-size: 0.00001vh;
	background-repeat: no-repeat;
  	display: block;
  	background-size:cover;
  	background-color: red;
}
h4, h5
{
	font-family: 'Lustria' ! important;
	color: blue;
}
.testimonial-group > .row {
  overflow-x: auto;
  white-space: nowrap;
}
.testimonial-group > .row > .col-xs-2 {
  display: inline-block;
  float: none;
}