@charset "UTF-8";
*{
	font-family: Lustria;
}

.mycontainer{
	padding-left: 0 !important;
	padding-right: 0 !important;
	padding-top: 0 !important;
}

#titleHome
{
	border: none;
	font-family: 'Lustria';
	position: relative;
	font-size: 5vh;
	background-color: #FC9D90 ! important;
}
.header
{
	position: relative;
	height: 15vh;
	background-color: #FC9D90;
	padding: 0 ! important;
	margin: 0 ! important;
}
.loginbutton
{
	font-family: 'Lustria';
	position: relative;
	font-size: 6vh;
	top: 2vh;
	background-color: #FC9D90 ! important;
	border-color: black !important;
	width: 15vh;
}
.signupbutton
{
	font-family: 'Lustria';
	position: relative;
	font-size: 6vh;
	top: 2vh;
	background-color: #FC9D90 ! important;
	border-color: black !important;
	width: 15vh;
}

.main
{
	margin-top:5vh;
	margin-left: 40px;
	margin-right: 40px;
}
.searchSection
{
	text-align: center;
	position: relative;
	top: 2vh;
}
.searchButton
{
	font-family: 'Lustria';
	background-color: #9AADF2 ! important;
	border-color: black ! important;
	color: white ! important;
}
.filterBar
{
	position: relative;
	height: 65vh;
	font-family: 'Lustria';
	margin-top: 0vh ! important; 
	padding: 0vh ! important;
}

.row:after {
  content: "";
  display: table;
  clear: both;
  
}
.parentCenter
{
	margin: auto;
	display: block;
}
#tabs
{
	font-family: 'Lustria';
}
#restaurantDiv
{
	font-family: 'Lustria';
	color: black;
}
#recipeDiv
{
	font-family: 'Lustria';
	color: black;
}
.row
{
	font-family: 'Lustria' ! important;
	color: black;
	padding: 20px;
	padding-left: 30px;
}

.grid{
	padding-left: 50px;
}
.image
{
	position: relative;
	width: 20vh;
	height:20vh ! important;
	font-size: 0.00001vh;
	background-repeat: no-repeat;
  	display: block;
  	background-size:cover;
}
h4, h5
{
	font-family: 'Lustria' ! important;
	color: black;
}
.testimonial-group > .row {
  overflow-x: auto;
  white-space: nowrap;
}
.testimonial-group > .row > .col-xs-2 {
  display: inline-block;
  float: none;
}
.thumb {
	display: block;
	margin-bottom: 10px;
	width: 20vh;
	margin-right: 10px;
} 
.elementBlock {
	margin-left: 20px;
	margin-right: 20px;
	text-align: center;
	width: 20vh;
	word-wrap: break-word;
	overflow-wrap: break-word;
	white-space: pre-wrap;
	height: 25vh;
	margin-bottom: 20px;
}
.name {
	width: 100%;
	display: flex;
	justify-content: center;
}
