@charset "UTF-8";

#titleHome
{
	border: none;
	font-family: 'Lustria';
	position: relative;
	font-size: 5vh;
	background-color: #FC9D90 ! important;
}
.header
{
	position: relative;
	height: 15vh;
	background-color: #FC9D90;
	padding: 0 ! important;
	margin: 0 ! important;
}
.loginbutton
{
	font-family: 'Lustria';
	position: relative;
	font-size: 6vh;
	top: 2vh;
	background-color: #FC9D90 ! important;
	border-color: black !important;
	width: 15vh;
}
.signupbutton
{
	font-family: 'Lustria';
	position: relative;
	font-size: 6vh;
	top: 2vh;
	background-color: #FC9D90 ! important;
	border-color: black !important;
	width: 15vh;
}

.mainBox
{
	height: 100vh;
	border: none;
	border-radius: 0 !important;
	padding: 0 ! important;
	margin-bottom: 0 ! important;
	margin-right: 0 ! important;
	margin-left: 0 ! important; 
  	background-size:cover;
  	background-color: white ! important;

}
.searchSection
{
	text-align: center;
	position: relative;
	top: 2vh;
}
.searchButton
{
	font-family: 'Lustria';
	background-color: #9AADF2 ! important;
	border-color: black ! important;
	color: white ! important;
}
.filterBar
{
	position: relative;
	height: 65vh;
	width: 100%;
	font-family: 'Lustria';
	margin-top: 0vh ! important; 
	padding: 0px 5px ! important;
}
.filterBar h3 {
	padding: 10px 5px 0px;
}
.parentCenter form {
	width: 100%;
	text-align: center;
}
.filterButton
{
	background-color: transparent ! important;
	border-color: 3px black ! important;
	margin: 1vh auto ! important;
	background-color: #9AADF2 ! important;
	color: white ! important;
	font-family: 'Lustria';
	text-align: center ! important;
	left: 50vh ! important;
}


.row:after {
  content: "";
  display: table;
  clear: both;
}
.parentCenter
{
	margin: auto;
	display: block;
}
#tabs
{
	font-family: 'Lustria';
}
#restaurantDiv
{
	font-family: 'Lustria';
	color: black;
}
#recipeDiv
{
	font-family: 'Lustria';
	color: black;
}
.row
{
	font-family: 'Lustria' ! important;
	color: black;
	padding: 10px;
}
.row .col-sm-4 {
	text-align: center;
}
.image
{
	margin: 0 auto;
	background-color: red;
	position: relative;
	width: 20vh;
	height:20vh ! important;
	font-size: 0.00001vh;
	background-repeat: no-repeat;
  	display: block;
  	background-size:cover;
}
h4, h5
{
	font-family: 'Lustria' ! important;
	color: black;
}


